<%= form_for(@violation) do |f| %>
  <% if @violation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation.errors.count, "error") %> prohibited this violation from being saved:</h2>

      <ul>
      <% @violation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :violation_id %><br>
    <%= f.number_field :violation_id %>
  </div>
  <div class="field">
    <%= f.label :inspection_id %><br>
    <%= f.number_field :inspection_id %>
  </div>
  <div class="field">
    <%= f.label :violation_category %><br>
    <%= f.text_field :violation_category %>
  </div>
  <div class="field">
    <%= f.label :violation_date %><br>
    <%= f.datetime_select :violation_date %>
  </div>
  <div class="field">
    <%= f.label :violation_date_closed %><br>
    <%= f.datetime_select :violation_date_closed %>
  </div>
  <div class="field">
    <%= f.label :violation_type %><br>
    <%= f.text_field :violation_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
